.App {
  text-align: left;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  background-image: url('../public/react-icon-large.png');
  background-position: calc(+37.5vw + 50%) center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 25%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

.App-body > h1 {
  margin-left: 50px;
}

.App-body > ul {
  margin-left: 100px;
}

li::marker {
  color:#61dafb;
}

.App-footer {
  background-color: #61dafb;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-right: 50px;
}

.nav-items {
  display: flex;
}

.nav > h3, nav > h4 {
  margin: 0;
  justify-content: center;
}

.nav > h3 {
  margin-right: auto;
  margin-left: 5px;
  color:#61dafb
}

.list-items {
  max-width: 850px;
}

.list-items > li {
  padding-block: 10px;
}

* {
  box-sizing: border-box;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
